/* JetBrainsMono Regular */
@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('JetBrainsMono'), local('JetBrainsMono'), url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff') format('woff');
}