<div id="SOHUCS" sid="<%- post.uuid %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyu2sVL81',
        conf: 'prod_ab65361101203d297283c34df5112838'
    });
</script>