* {
    font-family: 'JetBrainsMono';
}
.exturl{
  color:#999 !important;
}
// Custom styles.
code {
    color: #0099ff;
    background: #fbf7f8;
    border-radius:3px;
    border: 1px solid #ffa800;
    margin: 0px 5px;
    border-radius: 3px;
    padding: 3px 8px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
}
.highlight, .code, pre {
    border: 1px solid #09f;
    border-radius: 5px;

}
// .highlight, .gutter, pre {
//     background: linear-gradient(left ,#EAEAEA , #eef2f3) !important;
//     background: -webkit-linear-gradient(left,#EAEAEA , #eef2f3) !important;
//     background: -o-linear-gradient(left,#DBDBDB , #eef2f3) !important;
//     background: -moz-linear-gradient(left,#DBDBDB, #DBDBDB, #EAEAEA) !important;
// }
.highlight .table-container{
   padding: 0px 3px;
}
// 复制按钮
.copy-btn{
    right: 5px;
    top: 5px;
    border: 1px solid #ffa800;
    color: #ffa800;
    border-radius: 3px;
}
//分享
#needsharebutton-float{
    z-index: 666;    
}

// 链接分享
a>code:hover{
    color: #ffa800;
    border-color: #ffa800;
}
// note 
.post-body .note {
    border: 1px solid #eee;
    padding: 5px 5px 5px 15px;
    color: #777;
    border-radius: 5px;
    border-left: 5px solid #ddd;
}
.post-body .note.warning{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.post-body .note.info{
    border-left-color: #5bc0de;
    color: #5bc0de;
    background-color: #f4f8fa;
}
.post-body .note.danger{
    color: #d9534f;
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.post-body .note.success{
    background-color: #f3f8f3;
    border-color: #50af51;
    color: #50af51;
}
.table-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.table-container table {
    min-width: 99%;
}
.table-container table tbody tr td:first-child {
    width: 10px;
}
.table-container table tbody tr td:last-child pre {
    background: -webkit-linear-gradient(to right, #f2f2f2, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2f2f2, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.table-container::-webkit-scrollbar {
    width:6px;
    height:6px;
}
/* 滚动槽 */
.table-container::-webkit-scrollbar-track {
    border-color: #92FE9D;
    background: -webkit-linear-gradient(left,#00C9FF, #92FE9D); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#00C9FF, #92FE9D); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#00C9FF, #92FE9D); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#00C9FF, #92FE9D); /* 标准的语法 */
    border-radius:6px;
}
/* 滚动条滑块 */
.table-container::-webkit-scrollbar-thumb {
    border-radius:6px;
    background: -webkit-linear-gradient(left,#00dbde, #fc00ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#00dbde, #fc00ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#00dbde, #fc00ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#00dbde, #fc00ff); /* 标准的语法 */
}

//图片样式
.posts-expand .post-body img{
    border: none;    
}
//头像图片样式
.site-author-image{
    border: none;    
}
// tab
.tab-content{
    .tab-pane{
        padding: 20px !important;
    }
}
.post-body .tabs ul.nav-tabs li.tab.active {
    border-top: 3px solid #09f;
}
// 分割线
hr {
    height: 5px;
}